body{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
header{
    width:100%;
    height:70px;
    background-color:white;
    margin-top: 0%;
    padding-top: 0%;
    
}
nav ul{
    display: flex;
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 80px;
    margin-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 25px;
    font-family: 'Times New Roman', Times, serif;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    background-color:white;
    border:2px solid grey;
    color:rgb(6, 6, 190);
    /* border-radius: 29px; */
    padding:5px;
}
#bg img{
    /* background-image: url("https://thumbs.dreamstime.com/b/modern-blue-abstract-background-presentation-design-beautiful-167354967.jpg"); */
    /* background-image: url(../Images/bacground.jpg); */
    width: 100%;
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    width:180px;
    height:70px;
}
/* #bg #sub{
    float: right;
    width:20px;
    height:40px;
    background-color: aqua;
    margin-top: 0%;
} */
#head1{
    float: right;
    /* color: rgb(6, 6, 190); */
    color:rgb(63, 62, 62);
    margin-top: 115px;
    font-size: 60px;
    font-weight: bold;
}
#para{
  /* float: right;
  margin-top:256px; */
  margin-left:850px;
  font-size: 28px;

}
#btn{
    width:180px;
    height:50px;
    background-color: rgb(253, 174, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    float: right;
    margin-right: 335px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
#btn:hover{
    cursor: pointer;
}
#drop1 .dropbtn{
    border: none;
}
#drop1{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.dropbtn {
    cursor: pointer;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: white;
    text-transform: uppercase;
    /* margin-top: 2px; */
    font-size: 20px;
    margin: 0;
  }
.dropbtn:hover{
    color:rgb(6, 6, 190);
    padding:5px;
}
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  .show {
    display: block;
  }
